<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href='bootstrap.css', rel="stylesheet")
		link(href='style.css', rel="stylesheet")
	body
		.container
			.cat-menu
				.row
					.col-md-3
						.js-cat-button
							.title Каталог 
				.js-cat-drop
					a(href="") Link
					ul
						li
							a(href="") level-1
							ul
								li
									a(href="" data-img="img/img1.jpg" data-href="link1") level-2
									ul
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
								li
									a(href="" data-img="img/img2.jpg" data-href="link2") level-2
									ul
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
										li
											a(href="") level-3
								li
									a(href="" data-img="img/img3.jpg" data-href="link3") level-2
								li
									a(href="" data-img="img/img4.jpg" data-href="link4") level-2
								li
									a(href="" data-img="img/img5.jpg" data-href="link5") level-2
								li
									a(href="" data-img="img/img6.jpg" data-href="link6") level-2
								li
									a(href="" data-img="img/img7.jpg" data-href="link7") level-2
								li
									a(href="" data-img="img/img8.jpg" data-href="link8") level-2
						li
							a(href="") level-1
							ul
								li
									a(href="" data-img="" data-href="link1") level-2
								li
									a(href="" data-img="" data-href="link1") level-2
								li
									a(href="" data-img="" data-href="link1") level-2
								li
									a(href="" data-img="" data-href="link1") level-2
						li
							a(href="") level-1
						li
							a(href="") level-1
						li
							a(href="") level-1
					.img 
						.wrap
							img(src="img/imgD.jpg", alt="")
							a(href="")	link
		p(style="height:1000px;z-index:-1")


		script(src='jquery-2.2.0.min.js')
		script(src='main.js') 
	