body {
	padding-top: 200px;
}

div[class*="block"] {
	padding: 20px;
	background: #fff;
	margin-bottom: 70px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.cat-menu {
	position: relative;
}
 
.js-cat-button {
	width: 220px;
	height: 40px;
	.title {
		text-align: center;
		padding: 10px;
		background: #e33020;
		color: #fff;
		text-transform: uppercase;
	}
	&:hover {
		cursor: pointer;
	}
}

.js-cat-drop {
	width: 220px;
	position: absolute;
	left: 0;
	top: 42px;
	background:  #fff;
	border: 2px solid #f2f2f2;
	border-left: none;
	overflow: hidden;
	z-index: 2;
	display: none;
	ul {
		//border-right: 1px solid #ccc;
		padding-right: 1px;
		a {
			color: #000;
		}
	}
	.lev-1 {
		border: none;
		width: 221px;
		background: #fff;
		position: relative;
		left: 0;
		bottom: 0;
		
		//top: auto;
		z-index: 1;
		&.top-0 {
			//top: 0;
		}
		li {
			a {
				padding: 10px 15px;
				display: block;
				background: #fff;
				position: relative;
				z-index: 2;
				&:hover {
					background: #e33020;
					color: #fff;
				}
				&.active {
					background: #e33020;
					color: #fff;
				}
			}
		}
		&>li>a {
			background: #f3f3f3;
		}
		&:after {
			content: '';
			display: block;
			//width: 100%;
			height: 1000px;
			background: #f2f2f2;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: 1;
			border-right: 2px solid #f2f2f2;
		} 
	}
	.lev-2, .lev-3 {
		width: 306px;
		left: -86px;
		position: absolute;
		top: 0;
		z-index: -1;
		background: #fff;
		//border-right: 2px solid #f2f2f2;
		&>li {
			//position: relative;
			padding-right: 1px;
			z-index: 2;
			&>a {
				background: #fff;
				
			}
		}
		&:after {
			content: '';
			display: block;
			height: 1000px;
			background: #fff;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: 1;
			border-right: 2px solid #f2f2f2;
		} 
	}
	.lev-2 {
		&>li {
			//position: relative;
			// &:after {
			// 	content: '';
			// 	width: 1px;
			// 	height: 100px;
			// 	background: green;
			// 	position: absolute;
			// 	right: -1px;
			// 	top: 0;
			// 	z-index: 3;
			// }
		}
	}
	.lev-3 {
		z-index: -2;
	}
	&>a {
		display: block;
		height: 30px;
		line-height: 30px;
		text-align: center;
		position: absolute;
		left: 220px;
		right: 0;
		bottom: 0;
		background: #0d76b3;
		color: #fff;
		z-index: 3;
	}
	.img {
		width: 308px;
		left: -308px;
		position: absolute;
		top: -1px;
		bottom: -1px;
		z-index: -2;
		background: #fff;
		padding: 15px;
		border-left: 2px solid #f2f2f2;
		.wrap {
			//border: 1px solid green;
			//height: 400px;
			position: relative;
			overflow: hidden;
			img {
				//width: 100%;
				display: block;
				opacity: 1;
			}
			a {
				display: block;
				position: absolute;
				background: #e33020;
				color: #fff;
				line-height: 34px;
				left: 20px;
				right: 20px;
				bottom: 20px;
				text-align: center;
			}
		}
	}
}