body {
  padding-top: 200px;
}
div[class*="block"] {
  padding: 20px;
  background: #fff;
  margin-bottom: 70px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.cat-menu {
  position: relative;
}
.js-cat-button {
  width: 220px;
  height: 40px;
}
.js-cat-button .title {
  text-align: center;
  padding: 10px;
  background: #e33020;
  color: #fff;
  text-transform: uppercase;
}
.js-cat-button:hover {
  cursor: pointer;
}
.js-cat-drop {
  width: 220px;
  position: absolute;
  left: 0;
  top: 42px;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-left: none;
  overflow: hidden;
  z-index: 2;
  display: none;
}
.js-cat-drop ul {
  padding-right: 1px;
}
.js-cat-drop ul a {
  color: #000;
}
.js-cat-drop .lev-1 {
  border: none;
  width: 221px;
  background: #fff;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.js-cat-drop .lev-1 li a {
  padding: 10px 15px;
  display: block;
  background: #fff;
  position: relative;
  z-index: 2;
}
.js-cat-drop .lev-1 li a:hover {
  background: #e33020;
  color: #fff;
}
.js-cat-drop .lev-1 li a.active {
  background: #e33020;
  color: #fff;
}
.js-cat-drop .lev-1 > li > a {
  background: #f3f3f3;
}
.js-cat-drop .lev-1:after {
  content: '';
  display: block;
  height: 1000px;
  background: #f2f2f2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid #f2f2f2;
}
.js-cat-drop .lev-2,
.js-cat-drop .lev-3 {
  width: 306px;
  left: -86px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: #fff;
}
.js-cat-drop .lev-2 > li,
.js-cat-drop .lev-3 > li {
  padding-right: 1px;
  z-index: 2;
}
.js-cat-drop .lev-2 > li > a,
.js-cat-drop .lev-3 > li > a {
  background: #fff;
}
.js-cat-drop .lev-2:after,
.js-cat-drop .lev-3:after {
  content: '';
  display: block;
  height: 1000px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid #f2f2f2;
}
.js-cat-drop .lev-3 {
  z-index: -2;
}
.js-cat-drop > a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 220px;
  right: 0;
  bottom: 0;
  background: #0d76b3;
  color: #fff;
  z-index: 3;
}
.js-cat-drop .img {
  width: 308px;
  left: -308px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  z-index: -2;
  background: #fff;
  padding: 15px;
  border-left: 2px solid #f2f2f2;
}
.js-cat-drop .img .wrap {
  position: relative;
  overflow: hidden;
}
.js-cat-drop .img .wrap img {
  display: block;
  opacity: 1;
}
.js-cat-drop .img .wrap a {
  display: block;
  position: absolute;
  background: #e33020;
  color: #fff;
  line-height: 34px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
}
